body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color: #f5f5f5;
}
@font-face {
    font-family: 'IntelOneMono-Medium';
    src: url('IntelOneMono-Medium.otf') format('otf'),
}
.left-text
{
    font-size:20px;
    padding:14px;
    flex-grow: 1;
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: #1a1a1a;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #3a3a3a;
    color: white;
}

.content {
    padding: 40px;
}

.library {
    display: none;
}
/* Chế độ sáng */
body.light-mode {
    background-color: #000000;
    color: #333;
}

.navbar.light-mode {
    background-color: #000000;
}

.navbar.light-mode a {
    color: #333;
}

.navbar.light-mode a:hover {
    background-color: #000000;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 48px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 16px;
}

input:checked + .slider {
    background-color: #1a1a1a;
}

input:checked + .slider:before {
    transform: translateX(24px);
}
.navbar-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    font-size: 20px;
}
.centered-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4a4a4a;
    font-size: 56px;
    z-index: -1;
}
table td:first-child, table th:first-child {
    text-align: center;
    vertical-align: middle;
}