pre {
    margin: 0;
    padding: 10px;
    font-family: 'IntelOneMono-Medium', monospace;
    font-size: 15px;
    line-height: 1.4;
    background-color: #cbcaca;
    color: #000000;
    border: 3px solid #37bd44;
    border-radius: 6px;
    overflow: auto;
}

pre code {
    display: block;
}

.language-c {
    color: #333;
    background-color: #f7f8fa;
}
.language-c .function {
    color: #0074d9;
}